<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
<appSettings>
   <!-- <add key="connection2" value="Server=localhost;Port=3306;Database=agenda;Uid=root;Pwd=;" />
    <add key="connection3" value="Server=192.168.15.99;Port=3306;Database=agenda;Uid=root2;Pwd=123;" />
    <add key="connection" value="Server=192.168.15.99;Port=3306;Database=allpay;Uid=root2;Pwd=123;" />-->
  <add key="connection" value="Server=192.168.15.99;Port=3306;Database=agenda;Uid=root2;Pwd=123;" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>